<!DOCTYPE html>
<html lang="en" ng-app="addressBundlerApp" ng-controller="AppRootCtrl">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
	<base href="/" />
	<title ng-model="PageMeta.title"><%- PageMeta.title %></title>
	<!-- CSS  -->
	<!-- Compiled and minified CSS -->
	<link rel="stylesheet" href="css/app.min.css">        
</head>
<body>
  <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="/#/" class="brand-logo center">Address Bundler</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="" ui-sref="logout">Logout</a></li>
      </ul>
      <ul class="left hide-on-med-and-down">
        <li><a href="" ui-sref="emails.start">Start</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">Start</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
    </div>
  </nav>

  <%- body | safe %>

  <footer class="page-footer orange">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Who Made This?</h5>
          <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Settings</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        Made by <a class="orange-text text-lighten-3" href="http://twitter.com/electblake">electblake</a>
      </div>
    </div>
  </footer>
  <!-- Compiled and minified JavaScript -->
  <script src="js/jquery.min.js"></script>
  <script src="bower_components/materialize/dist/js/materialize.min.js"></script>
  <script src="bower_components/lodash/lodash.min.js"></script>
  <script src="bower_components/angular/angular.min.js"></script>
  <script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
  <script src="bower_components/js-data/dist/js-data.min.js"></script>
  <script src="bower_components/js-data-angular/dist/js-data-angular.min.js"></script>

  <script src="js/app.bundle.js"></script>
  </body>
</html>