<div class="row">
  <div class="col s12">
    <ul class="tabs" ng-click="stepTab($event)">
      <li class="tab col s3">
        <a class="active"  ng-class="{ 'grey-text': stepPos >= 1 }" href="#tab-authorize">Connect Google</a>
      </li>
      <li class="tab col s3">
        <a href="#tab-select-labels" ng-class="{ 'grey-text': stepPos >= 2 }" ng-show="loggedInUser._id">Select Labels</a>
      </li>
      <li class="tab col s3">
        <a href="#tab-capture" ng-class="{ 'grey-text': stepPos >= 3 }" ng-show="loggedInUser._id">Capture..</a>
      </li>
      <li class="tab col s3">
        <a href="#tab-bundle" ng-show="loggedInUser._id">Bundle!</a>
      </li>
    </ul>
  </div>
  <!-- <h2 class="center">{{ currentTask.name }}</h2> -->
  <!-- Connect Google Account -->
  <div id="tab-authorize" class="col s12">
    <h4 class="header center orange-text">{{ currentTask.name }}</h4>
    <div class="row center">
      <h5 class="header col s12 light">{{ currentTask.message }}</h5>
    </div>
    <p class="center" ng-if="!loggedInUser.auth.google.tokens">
      <a href="/auth/google/authorize" class="btn google waves-effect waves-light">
          Login with Google
      </a>
    </p>
    <p class="center" ng-if="loggedInUser.auth.google.tokens">
      <a href="/auth/google/authorize" class="btn google waves-effect waves-light">
          <i class="mdi-navigation-refresh"></i> Re-Authorize Google
      </a>
      <a href="" ng-click="continue()" class="btn green waves-effect waves-light">
          Continue! <i class="mdi-navigation-arrow-forward"></i>
      </a>
    </p>
  </div>
  <!-- Select Labels to Capture Addresses From -->
  <div id="tab-select-labels" class="col s12">
    <h4 class="header center orange-text">{{ currentTask.name }}</h4>
    <div class="row center">
      <h5 class="header col s12 light">{{ currentTask.message }}</h5>
    </div>
    <div class="container">
      <div class="row">
        <div class="input-field col s6">
          <label>Capture Last</label><br />
          <input type="text" ng-model="loggedInUser.capture.after_num" placeholder="<Integer>" />
        </div>
        <div class="input-field col s6">
          <br />
          <select class="browser-default" ng-model="loggedInUser.capture.after_unit">
            <option value="" disabled>Choose Your Range</option>
            <option value="hours">Hours</option>
            <option value="days">Days</option>
            <option value="months">Months</option>
            <option value="years">Years</option>
          </select>
        </div>
      </div>
    </div>
    <p class="center">
      <a href="" ng-click="setupLabels()" class="btn waves-effect waves-light orange">
          <i class="mdi-navigation-refresh"></i> Refresh Labels from Google
      </a>
      <a ng-if="useLabels && useLabels.length > 0" ref="" ng-click="save()" class="btn waves-effect waves-light green">
        Start Capture <i class="mdi-navigation-arrow-forward"></i>
      </a>
    </p>
    <div class="row">
        <div class="col s12 m6">
            <p>
                <strong>Will Exclude Labels..</strong>
            </p>
            <div class="" ng-repeat="label in thisLabels | filter: filterLabelsExclude">
              {{ label.name }}
              <a href="" ng-click="label.use = true" class="right">use</a>
            </div>
        </div>
        <div class="col s12 m6">
            <p>
                <strong>Included Labels..</strong>
                <div ng-repeat="label in (useLabels = (thisLabels | filter: { use: true }))">
                  {{ label.name }}
                  <a href="" ng-click="label.use = false" class="right">remove</a>
                </div>
            </p>
        </div>
    </div>
  </div>
  <!-- Run Capture Process -->
  <div id="tab-capture" class="col s12">
    <div class="section no-pad-bot" id="index-banner">
      <div class="container">
        <div class="row center">
          <h4 class="header orange-text">{{ currentTask.name }}</h4>
          <h5 class="header col s12 light">{{ currentTask.message }}</h5>
          <a href="" ng-click="gapiCapture()" ng-if="currentTask.progress <= 0" class="btn waves-effect waves-light green">
            Run Capture Process
          </a>
          <div ng-if="currentTask.progress > 0 && currentTask.progress < 100">
            <div class="progress">
              <div class="indeterminate"></div>
            </div>
          </div>
        </div>
        <div class="row">
          <ul class="collection" ng-if="currentTask.report.sample">
              <li class="collection-item avatar">
                <img src="http://www.gravatar.com/avatar/{{ currentTask.report.sample.email | gravatar }}" class="circle"/>
                <span class="title">Sample Capture</span>
                <p>
                  {{ currentTask.report.sample.from }}<br />
                  <span class="grey-text"><strong>Subject:</strong> {{ currentTask.report.sample.subject }}</span><br />
                </p>
              </li>
              <li class="collection-item">
                <span class="title">Sample Date</span>
                <p class="grey-text">{{ currentTask.report.sample.date }}</p>
              </li>
              <li class="collection-item">
                <span class="title">Duplicate Ratio</span>
                <p class="grey-text">{{ currentTask.report.duplicate_ratio }}</p>
              </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div id="tab-bundle" class="col s12">
    <h4 class="header center orange-text">{{ currentTask.name }}</h4>
    <div class="row center">
      <h5 class="header col s12 light">{{ currentTask.message }}</h5>
    </div>
    <p class="flow-text center">
      These captured bundles are available for download, <strong>but not forever (I think 6 hours)</strong>
    </p>
    <p ng-repeat="bundle in thisBundles track by $index" class="center">
      <a href="/api/users/download/{{bundle}}">{{ bundle }}</a>
    </p>
  </div>
</div>